* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.wrap {
    background: #A8A7A8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 90.5vh;
    width: 100vw;
}

html {
    scroll-behavior: smooth;
}

html, body {
    font-size: 63%;
    height: 100%;
}

.box {
    width: 20vw;
    height: 55vh;
    border-radius: 0.5rem;
    box-shadow: 0 0.8rem 3rem lightgray;
    background: #a5bbdd;
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    min-width: 20rem;
    min-height: 35rem;
    border: 2.5px solid #696969;
    border-radius: 15px;
}

.wave {
    opacity: 0.3;
    position: absolute;
    top: 115%;
    left: 50%;
    background: white;
    width: 50rem;
    height: 50rem;
    margin-left: -25rem;
    margin-top: -25rem;
    transform-origin: 50% 48%;
    border-radius: 43%;
    animation: driftwave 3s infinite linear;
    z-index: 1;
}

.wave.-three {
    animation: driftwave 5s infinite linear;
    z-index: 2 !important;
    opacity: 0.2;
}

.wave.-two {
    animation: driftwave 7s infinite linear;
    opacity: 0.1;
    z-index: 3 !important;
}

.box:after {
    content: "";
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 11;
    transform: translate3d(0, 0, 0);
}

@keyframes driftwave {
    from {
        transform: rotate(0deg);
    }
    from {
        transform: rotate(360deg);
    }
}

.weather-info {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 45%;
    z-index: 4;
}

.location {
    margin-top: 1.5rem;
    text-align: center;
    font-weight: 800;
    font-size: 3rem;
}

#date {
    text-align: center;
    margin-top: 0.5rem;
    color: #57606f;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
}

.temperature {
    margin-top: 2.5rem;
    text-align: center;
    font-size: 3rem;
}

.min-max-temp {
    text-align: center;
    margin-top: 0.3rem;
    font-weight: 300;
    font-size: 1.25rem;
    color: #57606f;
}

#weather-condition {
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

#weather-condition .fas {
    margin-top: -30px;
    font-size: 10rem;
    animation: condition 3s linear infinite alternate;
}

@keyframes condition {
    from {
        transform: scale(1.08);
    }
    to {
        transform: scale(1.47);
    }
}


@media (max-width: 768px) {
    .box {
        width: 67vw;
        height: 65vh;
    }
}

@media (max-width: 600px) {
    .box {
        width: 75vw;
        height: 65vh;
    }

    .wave {
        top: 115%;
    }

    #weather-condition {
        font-size: 5em;
    }

    .weather-info {
        font-size: 1.5rem;
    }
}



/* NAVBAR */
.navbar {
    font-size: 18px;
    background-image: linear-gradient(260deg, black 0%, black 100%);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
}

.main-nav {
    list-style-type: none;
    display: none;
    padding-right: 12px;
}

.nav-links,
.logo {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.main-nav li {
    text-align: center;
    margin: 15px auto;
}

.logo {
    display: inline-block;
    font-size: 32px;
    margin-top: 10px;
    margin-left: 20px;
}

.navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
}

.active {
    display: block;
}

@media (max-width: 768px) {
    .logo {
        font-size: 22px !important;
    }
    .navbar {
        font-size: 16px;
        
    }
}

@media screen and (min-width: 768px) {
.navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
}

.main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
}

.main-nav li {
    margin: 0;
}

.nav-links {
    margin-left: 40px;
}

.logo {
    margin-top: 0;
}

.navbar-toggle {
    display: none;
}

.logo:hover,
.nav-links:hover {
    color: rgba(255, 255, 255, 1);
}
}

@media(max-width: 576px) {
    .logo {
        font-size: 25px;
    }
}